@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}


.font-monument-bold {
  font-family: 'Monument-Bold', sans-serif;
}

.font-monument-regular {
  font-family: 'Monument-Regular', sans-serif;
}

.bg-gradasi {
  /* @media (min-width: 768px) {
      background-size: 300px 300px;
      background-image: url('/assets/images/background.png');
      background-repeat: no-repeat;
      background-position: bottom right 1rem;
  } */
  background-image: url('/assets/images/background.png');
  background-size: cover;
}

@font-face {
  font-family: 'Monument-Bold';
  src: url('/fonts/monument-bold.otf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Monument-Regular';
  src: url('/fonts/monument-reguler.otf') format('truetype');
  font-style: normal;
}

@layer base {
  :root {
    --background: 225 11% 7%;
    --foreground: 210 40% 98%;
  
    --muted: 0 0% 50%;
    --muted-foreground: 0 0% 50%;
 
    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;
 
    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;
 
    --border: 0 0% 50%;
    --input: 0 0% 20%;
 
    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;
 
    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;
 
    --destructive: 0 63% 51%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 216 34% 17%;
 
    --radius: 0.5rem;
  }
}

* {
  list-style: none;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-poppins)
}


/* ========================================== TAILWIND STYLES */
@layer utilities {
  .wrapper {
    @apply max-w-7xl lg:mx-auto p-5 md:px-10 xl:px-0 w-full;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }
}

/* ========================================== REACT-DATEPICKER STYLES */
.datePicker {
  width: 100%;
}

.react-datepicker__input-container input {
  background-color: transparent;
  width: 100%;
  outline: none;
  margin-left: 16px;
}

.react-datepicker__day--selected {
  background-color: #624cf5 !important;
  color: #ffffff !important;
  border-radius: 4px;
}

.react-datepicker__time-list-item--selected {
  background-color: #ffffff !important;
}


.css-gradient {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 280px;
  z-index: 10;
  opacity: 100;
}